.widget-preview-item-detailed {
    background: transparent !important;
    .widget-preview-detailed-sub {
        padding: 5px 15px;
        display: block;
    }
    .widget-preview-detailed-list {
        padding: 5px 0;
        min-height: 100px;
        background: #fff;
    }
}
