.rw-form-label-left .rw-form-item-label {
  text-align: left; }

.rw-form-label-top .rw-form-item-label {
  float: none;
  display: inline-block;
  padding: 0 0 10px 0; }

.rw-form-inline .rw-form-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top; }

.rw-form-item {
  margin-bottom: 24px; }
  .rw-form-item-label {
    text-align: left;
    font-size: 12px;
    color: #515a6e;
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap; }
  .rw-form-item-content {
    position: relative;
    font-size: 12px; }
  .rw-form-item-position-top {
    display: block; }
  .rw-form-item-position-top .rw-form-item-label {
    padding: 0 0 10px 0; }
  .rw-form-item-position-left, .rw-form-item-position-right {
    display: flex;
    align-items: center; }
    .rw-form-item-position-left .rw-form-item-label, .rw-form-item-position-right .rw-form-item-label {
      padding: 0 10px 0 0; }
    .rw-form-item-position-left .rw-form-item-content, .rw-form-item-position-right .rw-form-item-content {
      flex: 1 1; }
  .rw-form-item-position-left.rw-form-item-align-items-top, .rw-form-item-position-right.rw-form-item-align-items-top {
    align-items: flex-start; }
  .rw-form-item-position-left.rw-form-item-align-items-bottom, .rw-form-item-position-right.rw-form-item-align-items-bottom {
    align-items: flex-end; }
  .rw-form-item-position-left .rw-form-item-label {
    text-align: left; }
  .rw-form-item-position-right .rw-form-item-label {
    text-align: right; }
  .rw-form-item-inline {
    display: inline-block;
    vertical-align: top; }
  .rw-form-item-position-left.rw-form-item-inline, .rw-form-item-position-right.rw-form-item-inline {
    display: inline-flex; }
  .rw-form-item .rw-form-item {
    margin-bottom: 0; }
  .rw-form-item .rw-form-item .rw-form-item-content {
    margin-left: 0 !important; }
  .rw-form-item-help, .rw-form-item-error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    padding-top: 5px; }
  .rw-form-item-error-tip {
    color: #ed4014; }
  .rw-form-item-required .rw-form-item-label:before {
    content: "*";
    display: inline-block;
    margin-right: 4px;
    line-height: 1;
    font-family: SimSun;
    font-size: 12px;
    color: #ed4014; }
  .rw-form-item-error .rw-form-item-help {
    color: #ed4014; }

.multi-input-wrapper .multi-input-item {
  display: flex; }
  .multi-input-wrapper .multi-input-item:not(:last-child) {
    margin-bottom: 15px; }
  .multi-input-wrapper .multi-input-item .multi-input {
    flex: auto; }
    .multi-input-wrapper .multi-input-item .multi-input input {
      width: 100%; }
  .multi-input-wrapper .multi-input-item .multi-input-tools {
    flex: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #515a6e; }
    .multi-input-wrapper .multi-input-item .multi-input-tools > * {
      cursor: pointer;
      margin-left: 6px; }

.width-input-field {
  position: relative;
  width: 120px; }
  .width-input-field input {
    padding-right: 46px !important; }
  .width-input-field .width-suffix {
    display: flex;
    align-items: center;
    position: absolute;
    height: 20px;
    line-height: 20px;
    right: 5px;
    top: 50%;
    margin-top: -10px;
    background: rgba(167, 182, 194, 0.3);
    border-radius: 3px;
    cursor: pointer;
    padding: 0 6px; }
    .width-input-field .width-suffix .width-suffix-text {
      margin-right: 4px;
      position: relative;
      z-index: 10; }
      .width-input-field .width-suffix .width-suffix-text .width-suffix-unit {
        display: none;
        position: absolute;
        top: 100%;
        left: -6px;
        width: 50px;
        background: #FFF;
        border: 1px solid rgba(167, 182, 194, 0.3); }
        .width-input-field .width-suffix .width-suffix-text .width-suffix-unit .width-suffix-unit-item {
          padding: 1px 6px; }
          .width-input-field .width-suffix .width-suffix-text .width-suffix-unit .width-suffix-unit-item:hover {
            background: rgba(167, 182, 194, 0.3); }
    .width-input-field .width-suffix:hover .width-suffix-unit {
      display: block; }

.widget-preview-item-detailed {
  background: transparent !important; }
  .widget-preview-item-detailed .widget-preview-detailed-sub {
    padding: 5px 15px;
    display: block; }
  .widget-preview-item-detailed .widget-preview-detailed-list {
    padding: 5px 0;
    min-height: 100px;
    background: #fff; }

.csos-form-designer {
  height: 100%;
  font-size: 14px; }

.csos-form-designer-container {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dedee4; }
  .csos-form-designer-container * {
    box-sizing: border-box; }
  .csos-form-designer-container .widgets-panel {
    flex: none;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dedee4; }
    .csos-form-designer-container .widgets-panel .widgets-panel-header {
      flex: none;
      padding: 0 10px;
      height: 32px;
      line-height: 32px;
      background: #f2f3f4; }
    .csos-form-designer-container .widgets-panel .widget-item {
      flex: 1 1;
      overflow: auto;
      color: #5b6b73;
      cursor: pointer;
      padding: 5px 10px;
      width: 200px;
      margin-top: -1px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .csos-form-designer-container .widgets-panel .widget-item .widget-item-title {
        display: flex;
        align-items: center; }
        .csos-form-designer-container .widgets-panel .widget-item .widget-item-title img {
          width: 24px;
          height: 24px; }
        .csos-form-designer-container .widgets-panel .widget-item .widget-item-title .widget-text {
          padding: 0 10px;
          flex: 1 1; }
      .csos-form-designer-container .widgets-panel .widget-item:hover {
        background: rgba(202, 228, 255, 0.5); }
  .csos-form-designer-container .design-panel {
    flex: 1 1;
    overflow: auto;
    padding: 10px 0;
    background: #efefef; }
    .csos-form-designer-container .design-panel .design-layout-container {
      width: 800px;
      height: 1600px;
      padding-bottom: 60px;
      margin: 0 auto;
      overflow: auto;
      background: #fbfbfb;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #dedee4; }
      .csos-form-designer-container .design-panel .design-layout-container .design-layout-container {
        width: auto;
        height: auto;
        min-height: 90px;
        padding-bottom: 0;
        box-shadow: none;
        border: none; }
      .csos-form-designer-container .design-panel .design-layout-container .drag-item-placeholder {
        margin-top: 12px; }
        .csos-form-designer-container .design-panel .design-layout-container .drag-item-placeholder-inner {
          height: 46px;
          border: 1px dashed #cfd1d2; }
      .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper {
        margin-top: 12px; }
        .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper.dragging {
          opacity: 0.2; }
        .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item {
          position: relative;
          font-size: 14px;
          display: block;
          margin-bottom: 1px;
          border: 1px solid #d8d8d8; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 1px;
            background-color: #d9d9d9;
            -webkit-transform: scale(0.5);
                    transform: scale(0.5);
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item:after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #d9d9d9;
            -webkit-transform: scaleY(0.5);
                    transform: scaleY(0.5);
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item-inner {
            background: #fff;
            line-height: 24px;
            position: relative;
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 10px 15px;
            border: 1px solid rgba(0, 0, 0, 0);
            cursor: move; }
            .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item-inner .widget-preview-title {
              word-break: break-all;
              line-height: 20px;
              flex: 1 1; }
            .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item-inner .widget-preview-input {
              color: #868c98;
              white-space: nowrap;
              padding-left: 10px;
              overflow: hidden;
              text-align: right;
              height: 24px;
              flex: 1 1; }
            .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item-inner:hover {
              border: 1px dotted #007ed3; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item .widget-preview-close {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            cursor: pointer;
            text-align: center;
            width: 18px;
            height: 18px;
            background: #007ed3;
            color: #fff;
            line-height: 18px; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item:hover > .widget-preview-close {
            display: block; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item-selected > .widget-preview-item-inner {
            border: 1px solid #007ed3; }
          .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .widget-preview-item-selected > .widget-preview-close {
            display: block; }
        .csos-form-designer-container .design-panel .design-layout-container .widget-preview-item-wrapper .drag-item-placeholder:first-child {
          padding-top: 0;
          margin-bottom: 15px; }
  .csos-form-designer-container .property-panel {
    flex: none;
    width: 300px;
    padding: 10px;
    background: #fff;
    border-left: 1px solid #dedee4;
    overflow: auto;
    font-size: 14px; }

.design-property-field {
  margin-bottom: 15px; }
  .design-property-field textarea,
  .design-property-field input:not([type="checkbox"]) {
    width: 100%;
    height: 28px;
    border: 1px solid #caccce;
    line-height: 26px;
    padding: 0 6px;
    outline: none;
    border-radius: 2px;
    font-size: 12px; }
    .design-property-field textarea:focus, .design-property-field textarea:hover,
    .design-property-field input:not([type="checkbox"]):focus,
    .design-property-field input:not([type="checkbox"]):hover {
      border-color: #007ed3; }
  .design-property-field textarea {
    height: 80px; }

.property-header-title {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }


/*# sourceMappingURL=index.b05f437b.chunk.css.map*/