@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8an01c') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8an01c') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8an01c##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-add-column-left {
  &:before {
    content: $icon-add-column-left; 
  }
}
.icon-add-column-right {
  &:before {
    content: $icon-add-column-right; 
  }
}
.icon-add-row-bottom {
  &:before {
    content: $icon-add-row-bottom; 
  }
}
.icon-add-row-top {
  &:before {
    content: $icon-add-row-top; 
  }
}
.icon-add-to-artifact {
  &:before {
    content: $icon-add-to-artifact; 
  }
}
.icon-add-to-folder {
  &:before {
    content: $icon-add-to-folder; 
  }
}
.icon-airplane {
  &:before {
    content: $icon-airplane; 
  }
}
.icon-align-center {
  &:before {
    content: $icon-align-center; 
  }
}
.icon-align-justify {
  &:before {
    content: $icon-align-justify; 
  }
}
.icon-align-left {
  &:before {
    content: $icon-align-left; 
  }
}
.icon-alignment-bottom {
  &:before {
    content: $icon-alignment-bottom; 
  }
}
.icon-alignment-horizontal-center {
  &:before {
    content: $icon-alignment-horizontal-center; 
  }
}
.icon-alignment-left {
  &:before {
    content: $icon-alignment-left; 
  }
}
.icon-alignment-right {
  &:before {
    content: $icon-alignment-right; 
  }
}
.icon-alignment-top {
  &:before {
    content: $icon-alignment-top; 
  }
}
.icon-alignment-vertical-center {
  &:before {
    content: $icon-alignment-vertical-center; 
  }
}
.icon-align-right {
  &:before {
    content: $icon-align-right; 
  }
}
.icon-annotation {
  &:before {
    content: $icon-annotation; 
  }
}
.icon-application {
  &:before {
    content: $icon-application; 
  }
}
.icon-applications {
  &:before {
    content: $icon-applications; 
  }
}
.icon-arrow-bottom-left {
  &:before {
    content: $icon-arrow-bottom-left; 
  }
}
.icon-arrow-bottom-right {
  &:before {
    content: $icon-arrow-bottom-right; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrows-horizontal {
  &:before {
    content: $icon-arrows-horizontal; 
  }
}
.icon-arrows-vertical {
  &:before {
    content: $icon-arrows-vertical; 
  }
}
.icon-arrow-top-left {
  &:before {
    content: $icon-arrow-top-left; 
  }
}
.icon-arrow-top-right {
  &:before {
    content: $icon-arrow-top-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-asterisk {
  &:before {
    content: $icon-asterisk; 
  }
}
.icon-automatic-updates {
  &:before {
    content: $icon-automatic-updates; 
  }
}
.icon-badge {
  &:before {
    content: $icon-badge; 
  }
}
.icon-ban-circle {
  &:before {
    content: $icon-ban-circle; 
  }
}
.icon-bank-account {
  &:before {
    content: $icon-bank-account; 
  }
}
.icon-barcode {
  &:before {
    content: $icon-barcode; 
  }
}
.icon-blank {
  &:before {
    content: $icon-blank; 
  }
}
.icon-blocked-person {
  &:before {
    content: $icon-blocked-person; 
  }
}
.icon-bold {
  &:before {
    content: $icon-bold; 
  }
}
.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.icon-build {
  &:before {
    content: $icon-build; 
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down; 
  }
}
.icon-caret-left {
  &:before {
    content: $icon-caret-left; 
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right; 
  }
}
.icon-caret-up {
  &:before {
    content: $icon-caret-up; 
  }
}
.icon-cell-tower {
  &:before {
    content: $icon-cell-tower; 
  }
}
.icon-changes {
  &:before {
    content: $icon-changes; 
  }
}
.icon-chart {
  &:before {
    content: $icon-chart; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-chevron-backward {
  &:before {
    content: $icon-chevron-backward; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-forward {
  &:before {
    content: $icon-chevron-forward; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-circle {
  &:before {
    content: $icon-circle; 
  }
}
.icon-circle-arrow-down {
  &:before {
    content: $icon-circle-arrow-down; 
  }
}
.icon-circle-arrow-left {
  &:before {
    content: $icon-circle-arrow-left; 
  }
}
.icon-circle-arrow-right {
  &:before {
    content: $icon-circle-arrow-right; 
  }
}
.icon-circle-arrow-up {
  &:before {
    content: $icon-circle-arrow-up; 
  }
}
.icon-citation {
  &:before {
    content: $icon-citation; 
  }
}
.icon-clean {
  &:before {
    content: $icon-clean; 
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download; 
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload; 
  }
}
.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-code-block {
  &:before {
    content: $icon-code-block; 
  }
}
.icon-cog {
  &:before {
    content: $icon-cog; 
  }
}
.icon-collapse-all {
  &:before {
    content: $icon-collapse-all; 
  }
}
.icon-column-layout {
  &:before {
    content: $icon-column-layout; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-comparison {
  &:before {
    content: $icon-comparison; 
  }
}
.icon-compass {
  &:before {
    content: $icon-compass; 
  }
}
.icon-compressed {
  &:before {
    content: $icon-compressed; 
  }
}
.icon-confirm {
  &:before {
    content: $icon-confirm; 
  }
}
.icon-console {
  &:before {
    content: $icon-console; 
  }
}
.icon-contrast {
  &:before {
    content: $icon-contrast; 
  }
}
.icon-control {
  &:before {
    content: $icon-control; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-crown {
  &:before {
    content: $icon-crown; 
  }
}
.icon-cube {
  &:before {
    content: $icon-cube; 
  }
}
.icon-cube-add {
  &:before {
    content: $icon-cube-add; 
  }
}
.icon-cube-remove {
  &:before {
    content: $icon-cube-remove; 
  }
}
.icon-curved-range-chart {
  &:before {
    content: $icon-curved-range-chart; 
  }
}
.icon-cut {
  &:before {
    content: $icon-cut; 
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.icon-database {
  &:before {
    content: $icon-database; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-delta {
  &:before {
    content: $icon-delta; 
  }
}
.icon-derive-column {
  &:before {
    content: $icon-derive-column; 
  }
}
.icon-desktop {
  &:before {
    content: $icon-desktop; 
  }
}
.icon-diagram-tree {
  &:before {
    content: $icon-diagram-tree; 
  }
}
.icon-direction-left {
  &:before {
    content: $icon-direction-left; 
  }
}
.icon-direction-right {
  &:before {
    content: $icon-direction-right; 
  }
}
.icon-disable {
  &:before {
    content: $icon-disable; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-document-open {
  &:before {
    content: $icon-document-open; 
  }
}
.icon-document-share {
  &:before {
    content: $icon-document-share; 
  }
}
.icon-dollar {
  &:before {
    content: $icon-dollar; 
  }
}
.icon-dot {
  &:before {
    content: $icon-dot; 
  }
}
.icon-double-caret-horizontal {
  &:before {
    content: $icon-double-caret-horizontal; 
  }
}
.icon-double-caret-vertical {
  &:before {
    content: $icon-double-caret-vertical; 
  }
}
.icon-double-chevron-down {
  &:before {
    content: $icon-double-chevron-down; 
  }
}
.icon-double-chevron-left {
  &:before {
    content: $icon-double-chevron-left; 
  }
}
.icon-double-chevron-right {
  &:before {
    content: $icon-double-chevron-right; 
  }
}
.icon-double-chevron-up {
  &:before {
    content: $icon-double-chevron-up; 
  }
}
.icon-doughnut-chart {
  &:before {
    content: $icon-doughnut-chart; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-drag-handle-horizontal {
  &:before {
    content: $icon-drag-handle-horizontal; 
  }
}
.icon-drag-handle-vertical {
  &:before {
    content: $icon-drag-handle-vertical; 
  }
}
.icon-draw {
  &:before {
    content: $icon-draw; 
  }
}
.icon-drive-time {
  &:before {
    content: $icon-drive-time; 
  }
}
.icon-duplicate {
  &:before {
    content: $icon-duplicate; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-eject {
  &:before {
    content: $icon-eject; 
  }
}
.icon-endorsed {
  &:before {
    content: $icon-endorsed; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-eraser {
  &:before {
    content: $icon-eraser; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-euro {
  &:before {
    content: $icon-euro; 
  }
}
.icon-exchange {
  &:before {
    content: $icon-exchange; 
  }
}
.icon-exclude-row {
  &:before {
    content: $icon-exclude-row; 
  }
}
.icon-expand-all {
  &:before {
    content: $icon-expand-all; 
  }
}
.icon-export {
  &:before {
    content: $icon-export; 
  }
}
.icon-eye-off {
  &:before {
    content: $icon-eye-off; 
  }
}
.icon-eye-on {
  &:before {
    content: $icon-eye-on; 
  }
}
.icon-eye-open {
  &:before {
    content: $icon-eye-open; 
  }
}
.icon-fast-backward {
  &:before {
    content: $icon-fast-backward; 
  }
}
.icon-fast-forward {
  &:before {
    content: $icon-fast-forward; 
  }
}
.icon-feed {
  &:before {
    content: $icon-feed; 
  }
}
.icon-feed-subscribed {
  &:before {
    content: $icon-feed-subscribed; 
  }
}
.icon-film {
  &:before {
    content: $icon-film; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-filter-keep {
  &:before {
    content: $icon-filter-keep; 
  }
}
.icon-filter-list {
  &:before {
    content: $icon-filter-list; 
  }
}
.icon-filter-remove {
  &:before {
    content: $icon-filter-remove; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-flame {
  &:before {
    content: $icon-flame; 
  }
}
.icon-flash {
  &:before {
    content: $icon-flash; 
  }
}
.icon-floppy-disk {
  &:before {
    content: $icon-floppy-disk; 
  }
}
.icon-flow-branch {
  &:before {
    content: $icon-flow-branch; 
  }
}
.icon-flow-end {
  &:before {
    content: $icon-flow-end; 
  }
}
.icon-flow-linear {
  &:before {
    content: $icon-flow-linear; 
  }
}
.icon-flow-review {
  &:before {
    content: $icon-flow-review; 
  }
}
.icon-flow-review-branch {
  &:before {
    content: $icon-flow-review-branch; 
  }
}
.icon-flows {
  &:before {
    content: $icon-flows; 
  }
}
.icon-folder-close {
  &:before {
    content: $icon-folder-close; 
  }
}
.icon-folder-new {
  &:before {
    content: $icon-folder-new; 
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open; 
  }
}
.icon-folder-shared {
  &:before {
    content: $icon-folder-shared; 
  }
}
.icon-folder-shared-open {
  &:before {
    content: $icon-folder-shared-open; 
  }
}
.icon-follower {
  &:before {
    content: $icon-follower; 
  }
}
.icon-following {
  &:before {
    content: $icon-following; 
  }
}
.icon-font {
  &:before {
    content: $icon-font; 
  }
}
.icon-fork {
  &:before {
    content: $icon-fork; 
  }
}
.icon-form {
  &:before {
    content: $icon-form; 
  }
}
.icon-full-circle {
  &:before {
    content: $icon-full-circle; 
  }
}
.icon-fullscreen {
  &:before {
    content: $icon-fullscreen; 
  }
}
.icon-full-stacked-chart {
  &:before {
    content: $icon-full-stacked-chart; 
  }
}
.icon-function {
  &:before {
    content: $icon-function; 
  }
}
.icon-gantt-chart {
  &:before {
    content: $icon-gantt-chart; 
  }
}
.icon-geolocation {
  &:before {
    content: $icon-geolocation; 
  }
}
.icon-geosearch {
  &:before {
    content: $icon-geosearch; 
  }
}
.icon-git-branch {
  &:before {
    content: $icon-git-branch; 
  }
}
.icon-git-commit {
  &:before {
    content: $icon-git-commit; 
  }
}
.icon-git-merge {
  &:before {
    content: $icon-git-merge; 
  }
}
.icon-git-new-branch {
  &:before {
    content: $icon-git-new-branch; 
  }
}
.icon-git-pull {
  &:before {
    content: $icon-git-pull; 
  }
}
.icon-git-push {
  &:before {
    content: $icon-git-push; 
  }
}
.icon-git-repo {
  &:before {
    content: $icon-git-repo; 
  }
}
.icon-glass {
  &:before {
    content: $icon-glass; 
  }
}
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}
.icon-globe-network {
  &:before {
    content: $icon-globe-network; 
  }
}
.icon-graph {
  &:before {
    content: $icon-graph; 
  }
}
.icon-graph-remove {
  &:before {
    content: $icon-graph-remove; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-grid-view {
  &:before {
    content: $icon-grid-view; 
  }
}
.icon-grouped-bar-chart {
  &:before {
    content: $icon-grouped-bar-chart; 
  }
}
.icon-group-objects {
  &:before {
    content: $icon-group-objects; 
  }
}
.icon-hand {
  &:before {
    content: $icon-hand; 
  }
}
.icon-hand-down {
  &:before {
    content: $icon-hand-down; 
  }
}
.icon-hand-left {
  &:before {
    content: $icon-hand-left; 
  }
}
.icon-hand-right {
  &:before {
    content: $icon-hand-right; 
  }
}
.icon-hand-up {
  &:before {
    content: $icon-hand-up; 
  }
}
.icon-header {
  &:before {
    content: $icon-header; 
  }
}
.icon-header-one {
  &:before {
    content: $icon-header-one; 
  }
}
.icon-header-two {
  &:before {
    content: $icon-header-two; 
  }
}
.icon-headset {
  &:before {
    content: $icon-headset; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-heart-broken {
  &:before {
    content: $icon-heart-broken; 
  }
}
.icon-heat-grid {
  &:before {
    content: $icon-heat-grid; 
  }
}
.icon-heatmap {
  &:before {
    content: $icon-heatmap; 
  }
}
.icon-help {
  &:before {
    content: $icon-help; 
  }
}
.icon-helper-management {
  &:before {
    content: $icon-helper-management; 
  }
}
.icon-highlight {
  &:before {
    content: $icon-highlight; 
  }
}
.icon-history {
  &:before {
    content: $icon-history; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-horizontal-bar-chart {
  &:before {
    content: $icon-horizontal-bar-chart; 
  }
}
.icon-horizontal-bar-chart-asc {
  &:before {
    content: $icon-horizontal-bar-chart-asc; 
  }
}
.icon-horizontal-bar-chart-desc {
  &:before {
    content: $icon-horizontal-bar-chart-desc; 
  }
}
.icon-horizontal-distribution {
  &:before {
    content: $icon-horizontal-distribution; 
  }
}
.icon-id-number {
  &:before {
    content: $icon-id-number; 
  }
}
.icon-image-rotate-left {
  &:before {
    content: $icon-image-rotate-left; 
  }
}
.icon-image-rotate-right {
  &:before {
    content: $icon-image-rotate-right; 
  }
}
.icon-import {
  &:before {
    content: $icon-import; 
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox; 
  }
}
.icon-inbox-filtered {
  &:before {
    content: $icon-inbox-filtered; 
  }
}
.icon-inbox-geo {
  &:before {
    content: $icon-inbox-geo; 
  }
}
.icon-inbox-search {
  &:before {
    content: $icon-inbox-search; 
  }
}
.icon-inbox-update {
  &:before {
    content: $icon-inbox-update; 
  }
}
.icon-info-sign {
  &:before {
    content: $icon-info-sign; 
  }
}
.icon-inheritance {
  &:before {
    content: $icon-inheritance; 
  }
}
.icon-inner-join {
  &:before {
    content: $icon-inner-join; 
  }
}
.icon-insert {
  &:before {
    content: $icon-insert; 
  }
}
.icon-intersection {
  &:before {
    content: $icon-intersection; 
  }
}
.icon-ip-address {
  &:before {
    content: $icon-ip-address; 
  }
}
.icon-issue {
  &:before {
    content: $icon-issue; 
  }
}
.icon-issue-closed {
  &:before {
    content: $icon-issue-closed; 
  }
}
.icon-issue-new {
  &:before {
    content: $icon-issue-new; 
  }
}
.icon-italic {
  &:before {
    content: $icon-italic; 
  }
}
.icon-join-table {
  &:before {
    content: $icon-join-table; 
  }
}
.icon-key {
  &:before {
    content: $icon-key; 
  }
}
.icon-key-backspace {
  &:before {
    content: $icon-key-backspace; 
  }
}
.icon-key-command {
  &:before {
    content: $icon-key-command; 
  }
}
.icon-key-control {
  &:before {
    content: $icon-key-control; 
  }
}
.icon-key-delete {
  &:before {
    content: $icon-key-delete; 
  }
}
.icon-key-enter {
  &:before {
    content: $icon-key-enter; 
  }
}
.icon-key-escape {
  &:before {
    content: $icon-key-escape; 
  }
}
.icon-key-option {
  &:before {
    content: $icon-key-option; 
  }
}
.icon-key-shift {
  &:before {
    content: $icon-key-shift; 
  }
}
.icon-key-tab {
  &:before {
    content: $icon-key-tab; 
  }
}
.icon-known-vehicle {
  &:before {
    content: $icon-known-vehicle; 
  }
}
.icon-label {
  &:before {
    content: $icon-label; 
  }
}
.icon-layer {
  &:before {
    content: $icon-layer; 
  }
}
.icon-layers {
  &:before {
    content: $icon-layers; 
  }
}
.icon-layout {
  &:before {
    content: $icon-layout; 
  }
}
.icon-layout-auto {
  &:before {
    content: $icon-layout-auto; 
  }
}
.icon-layout-balloon {
  &:before {
    content: $icon-layout-balloon; 
  }
}
.icon-layout-circle {
  &:before {
    content: $icon-layout-circle; 
  }
}
.icon-layout-grid {
  &:before {
    content: $icon-layout-grid; 
  }
}
.icon-layout-group-by {
  &:before {
    content: $icon-layout-group-by; 
  }
}
.icon-layout-hierarchy {
  &:before {
    content: $icon-layout-hierarchy; 
  }
}
.icon-layout-linear {
  &:before {
    content: $icon-layout-linear; 
  }
}
.icon-layout-skew-grid {
  &:before {
    content: $icon-layout-skew-grid; 
  }
}
.icon-layout-sorted-clusters {
  &:before {
    content: $icon-layout-sorted-clusters; 
  }
}
.icon-left-join {
  &:before {
    content: $icon-left-join; 
  }
}
.icon-lifesaver {
  &:before {
    content: $icon-lifesaver; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-list-columns {
  &:before {
    content: $icon-list-columns; 
  }
}
.icon-list-detail-view {
  &:before {
    content: $icon-list-detail-view; 
  }
}
.icon-locate {
  &:before {
    content: $icon-locate; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in; 
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out; 
  }
}
.icon-manual {
  &:before {
    content: $icon-manual; 
  }
}
.icon-manually-entered-data {
  &:before {
    content: $icon-manually-entered-data; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-map-create {
  &:before {
    content: $icon-map-create; 
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker; 
  }
}
.icon-maximize {
  &:before {
    content: $icon-maximize; 
  }
}
.icon-media {
  &:before {
    content: $icon-media; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-menu-closed {
  &:before {
    content: $icon-menu-closed; 
  }
}
.icon-menu-open {
  &:before {
    content: $icon-menu-open; 
  }
}
.icon-merge-columns {
  &:before {
    content: $icon-merge-columns; 
  }
}
.icon-merge-links {
  &:before {
    content: $icon-merge-links; 
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-mobile-phone {
  &:before {
    content: $icon-mobile-phone; 
  }
}
.icon-mobile-video {
  &:before {
    content: $icon-mobile-video; 
  }
}
.icon-moon {
  &:before {
    content: $icon-moon; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-mountain {
  &:before {
    content: $icon-mountain; 
  }
}
.icon-move {
  &:before {
    content: $icon-move; 
  }
}
.icon-mugshot {
  &:before {
    content: $icon-mugshot; 
  }
}
.icon-multi-select {
  &:before {
    content: $icon-multi-select; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-new-grid-item {
  &:before {
    content: $icon-new-grid-item; 
  }
}
.icon-new-link {
  &:before {
    content: $icon-new-link; 
  }
}
.icon-new-object {
  &:before {
    content: $icon-new-object; 
  }
}
.icon-new-person {
  &:before {
    content: $icon-new-person; 
  }
}
.icon-new-prescription {
  &:before {
    content: $icon-new-prescription; 
  }
}
.icon-new-text-box {
  &:before {
    content: $icon-new-text-box; 
  }
}
.icon-ninja {
  &:before {
    content: $icon-ninja; 
  }
}
.icon-notifications {
  &:before {
    content: $icon-notifications; 
  }
}
.icon-notifications-updated {
  &:before {
    content: $icon-notifications-updated; 
  }
}
.icon-numbered-list {
  &:before {
    content: $icon-numbered-list; 
  }
}
.icon-numerical {
  &:before {
    content: $icon-numerical; 
  }
}
.icon-office {
  &:before {
    content: $icon-office; 
  }
}
.icon-offline {
  &:before {
    content: $icon-offline; 
  }
}
.icon-oil-field {
  &:before {
    content: $icon-oil-field; 
  }
}
.icon-one-column {
  &:before {
    content: $icon-one-column; 
  }
}
.icon-outdated {
  &:before {
    content: $icon-outdated; 
  }
}
.icon-page-layout {
  &:before {
    content: $icon-page-layout; 
  }
}
.icon-panel-stats {
  &:before {
    content: $icon-panel-stats; 
  }
}
.icon-panel-table {
  &:before {
    content: $icon-panel-table; 
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip; 
  }
}
.icon-paragraph {
  &:before {
    content: $icon-paragraph; 
  }
}
.icon-path {
  &:before {
    content: $icon-path; 
  }
}
.icon-path-search {
  &:before {
    content: $icon-path-search; 
  }
}
.icon-pause {
  &:before {
    content: $icon-pause; 
  }
}
.icon-people {
  &:before {
    content: $icon-people; 
  }
}
.icon-percentage {
  &:before {
    content: $icon-percentage; 
  }
}
.icon-person {
  &:before {
    content: $icon-person; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-pie-chart {
  &:before {
    content: $icon-pie-chart; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-pivot {
  &:before {
    content: $icon-pivot; 
  }
}
.icon-pivot-table {
  &:before {
    content: $icon-pivot-table; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-polygon-filter {
  &:before {
    content: $icon-polygon-filter; 
  }
}
.icon-power {
  &:before {
    content: $icon-power; 
  }
}
.icon-predictive-analysis {
  &:before {
    content: $icon-predictive-analysis; 
  }
}
.icon-prescription {
  &:before {
    content: $icon-prescription; 
  }
}
.icon-presentation {
  &:before {
    content: $icon-presentation; 
  }
}
.icon-print {
  &:before {
    content: $icon-print; 
  }
}
.icon-projects {
  &:before {
    content: $icon-projects; 
  }
}
.icon-properties {
  &:before {
    content: $icon-properties; 
  }
}
.icon-property {
  &:before {
    content: $icon-property; 
  }
}
.icon-publish-function {
  &:before {
    content: $icon-publish-function; 
  }
}
.icon-pulse {
  &:before {
    content: $icon-pulse; 
  }
}
.icon-random {
  &:before {
    content: $icon-random; 
  }
}
.icon-record {
  &:before {
    content: $icon-record; 
  }
}
.icon-redo {
  &:before {
    content: $icon-redo; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-regression-chart {
  &:before {
    content: $icon-regression-chart; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-remove-column {
  &:before {
    content: $icon-remove-column; 
  }
}
.icon-remove-column-left {
  &:before {
    content: $icon-remove-column-left; 
  }
}
.icon-remove-column-right {
  &:before {
    content: $icon-remove-column-right; 
  }
}
.icon-remove-row-bottom {
  &:before {
    content: $icon-remove-row-bottom; 
  }
}
.icon-remove-row-top {
  &:before {
    content: $icon-remove-row-top; 
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat; 
  }
}
.icon-resolve {
  &:before {
    content: $icon-resolve; 
  }
}
.icon-rig {
  &:before {
    content: $icon-rig; 
  }
}
.icon-right-join {
  &:before {
    content: $icon-right-join; 
  }
}
.icon-ring {
  &:before {
    content: $icon-ring; 
  }
}
.icon-rotate-document {
  &:before {
    content: $icon-rotate-document; 
  }
}
.icon-rotate-page {
  &:before {
    content: $icon-rotate-page; 
  }
}
.icon-satellite {
  &:before {
    content: $icon-satellite; 
  }
}
.icon-saved {
  &:before {
    content: $icon-saved; 
  }
}
.icon-scatter-plot {
  &:before {
    content: $icon-scatter-plot; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-search-around {
  &:before {
    content: $icon-search-around; 
  }
}
.icon-search-template {
  &:before {
    content: $icon-search-template; 
  }
}
.icon-search-text {
  &:before {
    content: $icon-search-text; 
  }
}
.icon-segmented-control {
  &:before {
    content: $icon-segmented-control; 
  }
}
.icon-select {
  &:before {
    content: $icon-select; 
  }
}
.icon-selection {
  &:before {
    content: $icon-selection; 
  }
}
.icon-send-to {
  &:before {
    content: $icon-send-to; 
  }
}
.icon-send-to-graph {
  &:before {
    content: $icon-send-to-graph; 
  }
}
.icon-send-to-map {
  &:before {
    content: $icon-send-to-map; 
  }
}
.icon-series-add {
  &:before {
    content: $icon-series-add; 
  }
}
.icon-series-configuration {
  &:before {
    content: $icon-series-configuration; 
  }
}
.icon-series-derived {
  &:before {
    content: $icon-series-derived; 
  }
}
.icon-series-filtered {
  &:before {
    content: $icon-series-filtered; 
  }
}
.icon-series-search {
  &:before {
    content: $icon-series-search; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-shield {
  &:before {
    content: $icon-shield; 
  }
}
.icon-shop {
  &:before {
    content: $icon-shop; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-sim-card {
  &:before {
    content: $icon-sim-card; 
  }
}
.icon-slash {
  &:before {
    content: $icon-slash; 
  }
}
.icon-small-cross {
  &:before {
    content: $icon-small-cross; 
  }
}
.icon-small-minus {
  &:before {
    content: $icon-small-minus; 
  }
}
.icon-small-plus {
  &:before {
    content: $icon-small-plus; 
  }
}
.icon-small-tick {
  &:before {
    content: $icon-small-tick; 
  }
}
.icon-snowflake {
  &:before {
    content: $icon-snowflake; 
  }
}
.icon-social-media {
  &:before {
    content: $icon-social-media; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-sort-alphabetical {
  &:before {
    content: $icon-sort-alphabetical; 
  }
}
.icon-sort-alphabetical-desc {
  &:before {
    content: $icon-sort-alphabetical-desc; 
  }
}
.icon-sort-asc {
  &:before {
    content: $icon-sort-asc; 
  }
}
.icon-sort-desc {
  &:before {
    content: $icon-sort-desc; 
  }
}
.icon-sort-numerical {
  &:before {
    content: $icon-sort-numerical; 
  }
}
.icon-sort-numerical-desc {
  &:before {
    content: $icon-sort-numerical-desc; 
  }
}
.icon-split-columns {
  &:before {
    content: $icon-split-columns; 
  }
}
.icon-square {
  &:before {
    content: $icon-square; 
  }
}
.icon-stacked-chart {
  &:before {
    content: $icon-stacked-chart; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty; 
  }
}
.icon-step-backward {
  &:before {
    content: $icon-step-backward; 
  }
}
.icon-step-chart {
  &:before {
    content: $icon-step-chart; 
  }
}
.icon-step-forward {
  &:before {
    content: $icon-step-forward; 
  }
}
.icon-stop {
  &:before {
    content: $icon-stop; 
  }
}
.icon-strikethrough {
  &:before {
    content: $icon-strikethrough; 
  }
}
.icon-style {
  &:before {
    content: $icon-style; 
  }
}
.icon-swap-horizontal {
  &:before {
    content: $icon-swap-horizontal; 
  }
}
.icon-swap-vertical {
  &:before {
    content: $icon-swap-vertical; 
  }
}
.icon-symbol-circle {
  &:before {
    content: $icon-symbol-circle; 
  }
}
.icon-symbol-cross {
  &:before {
    content: $icon-symbol-cross; 
  }
}
.icon-symbol-diamond {
  &:before {
    content: $icon-symbol-diamond; 
  }
}
.icon-symbol-square {
  &:before {
    content: $icon-symbol-square; 
  }
}
.icon-symbol-triangle-down {
  &:before {
    content: $icon-symbol-triangle-down; 
  }
}
.icon-symbol-triangle-up {
  &:before {
    content: $icon-symbol-triangle-up; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.icon-take-action {
  &:before {
    content: $icon-take-action; 
  }
}
.icon-taxi {
  &:before {
    content: $icon-taxi; 
  }
}
.icon-text-highlight {
  &:before {
    content: $icon-text-highlight; 
  }
}
.icon-th {
  &:before {
    content: $icon-th; 
  }
}
.icon-th-derived {
  &:before {
    content: $icon-th-derived; 
  }
}
.icon-th-filtered {
  &:before {
    content: $icon-th-filtered; 
  }
}
.icon-th-list {
  &:before {
    content: $icon-th-list; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-tick {
  &:before {
    content: $icon-tick; 
  }
}
.icon-tick-circle {
  &:before {
    content: $icon-tick-circle; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-timeline-area-chart {
  &:before {
    content: $icon-timeline-area-chart; 
  }
}
.icon-timeline-bar-chart {
  &:before {
    content: $icon-timeline-bar-chart; 
  }
}
.icon-timeline-events {
  &:before {
    content: $icon-timeline-events; 
  }
}
.icon-timeline-line-chart {
  &:before {
    content: $icon-timeline-line-chart; 
  }
}
.icon-tint {
  &:before {
    content: $icon-tint; 
  }
}
.icon-torch {
  &:before {
    content: $icon-torch; 
  }
}
.icon-train {
  &:before {
    content: $icon-train; 
  }
}
.icon-translate {
  &:before {
    content: $icon-translate; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-tree {
  &:before {
    content: $icon-tree; 
  }
}
.icon-trending-down {
  &:before {
    content: $icon-trending-down; 
  }
}
.icon-trending-up {
  &:before {
    content: $icon-trending-up; 
  }
}
.icon-two-columns {
  &:before {
    content: $icon-two-columns; 
  }
}
.icon-underline {
  &:before {
    content: $icon-underline; 
  }
}
.icon-undo {
  &:before {
    content: $icon-undo; 
  }
}
.icon-ungroup-objects {
  &:before {
    content: $icon-ungroup-objects; 
  }
}
.icon-unknown-vehicle {
  &:before {
    content: $icon-unknown-vehicle; 
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock; 
  }
}
.icon-unpin {
  &:before {
    content: $icon-unpin; 
  }
}
.icon-unresolve {
  &:before {
    content: $icon-unresolve; 
  }
}
.icon-updated {
  &:before {
    content: $icon-updated; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-variable {
  &:before {
    content: $icon-variable; 
  }
}
.icon-vertical-bar-chart-asc {
  &:before {
    content: $icon-vertical-bar-chart-asc; 
  }
}
.icon-vertical-bar-chart-desc {
  &:before {
    content: $icon-vertical-bar-chart-desc; 
  }
}
.icon-vertical-distribution {
  &:before {
    content: $icon-vertical-distribution; 
  }
}
.icon-video {
  &:before {
    content: $icon-video; 
  }
}
.icon-volume-down {
  &:before {
    content: $icon-volume-down; 
  }
}
.icon-volume-off {
  &:before {
    content: $icon-volume-off; 
  }
}
.icon-volume-up {
  &:before {
    content: $icon-volume-up; 
  }
}
.icon-walk {
  &:before {
    content: $icon-walk; 
  }
}
.icon-warning-sign {
  &:before {
    content: $icon-warning-sign; 
  }
}
.icon-waterfall-chart {
  &:before {
    content: $icon-waterfall-chart; 
  }
}
.icon-widget {
  &:before {
    content: $icon-widget; 
  }
}
.icon-widget-button {
  &:before {
    content: $icon-widget-button; 
  }
}
.icon-widget-footer {
  &:before {
    content: $icon-widget-footer; 
  }
}
.icon-widget-header {
  &:before {
    content: $icon-widget-header; 
  }
}
.icon-wrench {
  &:before {
    content: $icon-wrench; 
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out; 
  }
}
.icon-zoom-to-fit {
  &:before {
    content: $icon-zoom-to-fit; 
  }
}

