$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-add-column-left: "\e901";
$icon-add-column-right: "\e902";
$icon-add-row-bottom: "\e903";
$icon-add-row-top: "\e904";
$icon-add-to-artifact: "\e905";
$icon-add-to-folder: "\e906";
$icon-airplane: "\e907";
$icon-align-center: "\e908";
$icon-align-justify: "\e909";
$icon-align-left: "\e90a";
$icon-alignment-bottom: "\e90b";
$icon-alignment-horizontal-center: "\e90c";
$icon-alignment-left: "\e90d";
$icon-alignment-right: "\e90e";
$icon-alignment-top: "\e90f";
$icon-alignment-vertical-center: "\e910";
$icon-align-right: "\e911";
$icon-annotation: "\e912";
$icon-application: "\e913";
$icon-applications: "\e914";
$icon-arrow-bottom-left: "\e915";
$icon-arrow-bottom-right: "\e916";
$icon-arrow-down: "\e917";
$icon-arrow-left: "\e918";
$icon-arrow-right: "\e919";
$icon-arrows-horizontal: "\e91a";
$icon-arrows-vertical: "\e91b";
$icon-arrow-top-left: "\e91c";
$icon-arrow-top-right: "\e91d";
$icon-arrow-up: "\e91e";
$icon-asterisk: "\e91f";
$icon-automatic-updates: "\e920";
$icon-badge: "\e921";
$icon-ban-circle: "\e922";
$icon-bank-account: "\e923";
$icon-barcode: "\e924";
$icon-blank: "\e925";
$icon-blocked-person: "\e926";
$icon-bold: "\e927";
$icon-book: "\e928";
$icon-bookmark: "\e929";
$icon-box: "\e92a";
$icon-briefcase: "\e92b";
$icon-build: "\e92c";
$icon-calculator: "\e92d";
$icon-calendar: "\e92e";
$icon-camera: "\e92f";
$icon-caret-down: "\e930";
$icon-caret-left: "\e931";
$icon-caret-right: "\e932";
$icon-caret-up: "\e933";
$icon-cell-tower: "\e934";
$icon-changes: "\e935";
$icon-chart: "\e936";
$icon-chat: "\e937";
$icon-chevron-backward: "\e938";
$icon-chevron-down: "\e939";
$icon-chevron-forward: "\e93a";
$icon-chevron-left: "\e93b";
$icon-chevron-right: "\e93c";
$icon-chevron-up: "\e93d";
$icon-circle: "\e93e";
$icon-circle-arrow-down: "\e93f";
$icon-circle-arrow-left: "\e940";
$icon-circle-arrow-right: "\e941";
$icon-circle-arrow-up: "\e942";
$icon-citation: "\e943";
$icon-clean: "\e944";
$icon-clipboard: "\e945";
$icon-cloud: "\e946";
$icon-cloud-download: "\e947";
$icon-cloud-upload: "\e948";
$icon-code: "\e949";
$icon-code-block: "\e94a";
$icon-cog: "\e94b";
$icon-collapse-all: "\e94c";
$icon-column-layout: "\e94d";
$icon-comment: "\e94e";
$icon-comparison: "\e94f";
$icon-compass: "\e950";
$icon-compressed: "\e951";
$icon-confirm: "\e952";
$icon-console: "\e953";
$icon-contrast: "\e954";
$icon-control: "\e955";
$icon-credit-card: "\e956";
$icon-cross: "\e957";
$icon-crown: "\e958";
$icon-cube: "\e959";
$icon-cube-add: "\e95a";
$icon-cube-remove: "\e95b";
$icon-curved-range-chart: "\e95c";
$icon-cut: "\e95d";
$icon-dashboard: "\e95e";
$icon-database: "\e95f";
$icon-delete: "\e960";
$icon-delta: "\e961";
$icon-derive-column: "\e962";
$icon-desktop: "\e963";
$icon-diagram-tree: "\e964";
$icon-direction-left: "\e965";
$icon-direction-right: "\e966";
$icon-disable: "\e967";
$icon-document: "\e968";
$icon-document-open: "\e969";
$icon-document-share: "\e96a";
$icon-dollar: "\e96b";
$icon-dot: "\e96c";
$icon-double-caret-horizontal: "\e96d";
$icon-double-caret-vertical: "\e96e";
$icon-double-chevron-down: "\e96f";
$icon-double-chevron-left: "\e970";
$icon-double-chevron-right: "\e971";
$icon-double-chevron-up: "\e972";
$icon-doughnut-chart: "\e973";
$icon-download: "\e974";
$icon-drag-handle-horizontal: "\e975";
$icon-drag-handle-vertical: "\e976";
$icon-draw: "\e977";
$icon-drive-time: "\e978";
$icon-duplicate: "\e979";
$icon-edit: "\e97a";
$icon-eject: "\e97b";
$icon-endorsed: "\e97c";
$icon-envelope: "\e97d";
$icon-eraser: "\e97e";
$icon-error: "\e97f";
$icon-euro: "\e980";
$icon-exchange: "\e981";
$icon-exclude-row: "\e982";
$icon-expand-all: "\e983";
$icon-export: "\e984";
$icon-eye-off: "\e985";
$icon-eye-on: "\e986";
$icon-eye-open: "\e987";
$icon-fast-backward: "\e988";
$icon-fast-forward: "\e989";
$icon-feed: "\e98a";
$icon-feed-subscribed: "\e98b";
$icon-film: "\e98c";
$icon-filter: "\e98d";
$icon-filter-keep: "\e98e";
$icon-filter-list: "\e98f";
$icon-filter-remove: "\e990";
$icon-flag: "\e991";
$icon-flame: "\e992";
$icon-flash: "\e993";
$icon-floppy-disk: "\e994";
$icon-flow-branch: "\e995";
$icon-flow-end: "\e996";
$icon-flow-linear: "\e997";
$icon-flow-review: "\e998";
$icon-flow-review-branch: "\e999";
$icon-flows: "\e99a";
$icon-folder-close: "\e99b";
$icon-folder-new: "\e99c";
$icon-folder-open: "\e99d";
$icon-folder-shared: "\e99e";
$icon-folder-shared-open: "\e99f";
$icon-follower: "\e9a0";
$icon-following: "\e9a1";
$icon-font: "\e9a2";
$icon-fork: "\e9a3";
$icon-form: "\e9a4";
$icon-full-circle: "\e9a5";
$icon-fullscreen: "\e9a6";
$icon-full-stacked-chart: "\e9a7";
$icon-function: "\e9a8";
$icon-gantt-chart: "\e9a9";
$icon-geolocation: "\e9aa";
$icon-geosearch: "\e9ab";
$icon-git-branch: "\e9ac";
$icon-git-commit: "\e9ad";
$icon-git-merge: "\e9ae";
$icon-git-new-branch: "\e9af";
$icon-git-pull: "\e9b0";
$icon-git-push: "\e9b1";
$icon-git-repo: "\e9b2";
$icon-glass: "\e9b3";
$icon-globe: "\e9b4";
$icon-globe-network: "\e9b5";
$icon-graph: "\e9b6";
$icon-graph-remove: "\e9b7";
$icon-grid: "\e9b8";
$icon-grid-view: "\e9b9";
$icon-grouped-bar-chart: "\e9ba";
$icon-group-objects: "\e9bb";
$icon-hand: "\e9bc";
$icon-hand-down: "\e9bd";
$icon-hand-left: "\e9be";
$icon-hand-right: "\e9bf";
$icon-hand-up: "\e9c0";
$icon-header: "\e9c1";
$icon-header-one: "\e9c2";
$icon-header-two: "\e9c3";
$icon-headset: "\e9c4";
$icon-heart: "\e9c5";
$icon-heart-broken: "\e9c6";
$icon-heat-grid: "\e9c7";
$icon-heatmap: "\e9c8";
$icon-help: "\e9c9";
$icon-helper-management: "\e9ca";
$icon-highlight: "\e9cb";
$icon-history: "\e9cc";
$icon-home: "\e9cd";
$icon-horizontal-bar-chart: "\e9ce";
$icon-horizontal-bar-chart-asc: "\e9cf";
$icon-horizontal-bar-chart-desc: "\e9d0";
$icon-horizontal-distribution: "\e9d1";
$icon-id-number: "\e9d2";
$icon-image-rotate-left: "\e9d3";
$icon-image-rotate-right: "\e9d4";
$icon-import: "\e9d5";
$icon-inbox: "\e9d6";
$icon-inbox-filtered: "\e9d7";
$icon-inbox-geo: "\e9d8";
$icon-inbox-search: "\e9d9";
$icon-inbox-update: "\e9da";
$icon-info-sign: "\e9db";
$icon-inheritance: "\e9dc";
$icon-inner-join: "\e9dd";
$icon-insert: "\e9de";
$icon-intersection: "\e9df";
$icon-ip-address: "\e9e0";
$icon-issue: "\e9e1";
$icon-issue-closed: "\e9e2";
$icon-issue-new: "\e9e3";
$icon-italic: "\e9e4";
$icon-join-table: "\e9e5";
$icon-key: "\e9e6";
$icon-key-backspace: "\e9e7";
$icon-key-command: "\e9e8";
$icon-key-control: "\e9e9";
$icon-key-delete: "\e9ea";
$icon-key-enter: "\e9eb";
$icon-key-escape: "\e9ec";
$icon-key-option: "\e9ed";
$icon-key-shift: "\e9ee";
$icon-key-tab: "\e9ef";
$icon-known-vehicle: "\e9f0";
$icon-label: "\e9f1";
$icon-layer: "\e9f2";
$icon-layers: "\e9f3";
$icon-layout: "\e9f4";
$icon-layout-auto: "\e9f5";
$icon-layout-balloon: "\e9f6";
$icon-layout-circle: "\e9f7";
$icon-layout-grid: "\e9f8";
$icon-layout-group-by: "\e9f9";
$icon-layout-hierarchy: "\e9fa";
$icon-layout-linear: "\e9fb";
$icon-layout-skew-grid: "\e9fc";
$icon-layout-sorted-clusters: "\e9fd";
$icon-left-join: "\e9fe";
$icon-lifesaver: "\e9ff";
$icon-lightbulb: "\ea00";
$icon-link: "\ea01";
$icon-list: "\ea02";
$icon-list-columns: "\ea03";
$icon-list-detail-view: "\ea04";
$icon-locate: "\ea05";
$icon-lock: "\ea06";
$icon-log-in: "\ea07";
$icon-log-out: "\ea08";
$icon-manual: "\ea09";
$icon-manually-entered-data: "\ea0a";
$icon-map: "\ea0b";
$icon-map-create: "\ea0c";
$icon-map-marker: "\ea0d";
$icon-maximize: "\ea0e";
$icon-media: "\ea0f";
$icon-menu: "\ea10";
$icon-menu-closed: "\ea11";
$icon-menu-open: "\ea12";
$icon-merge-columns: "\ea13";
$icon-merge-links: "\ea14";
$icon-minimize: "\ea15";
$icon-minus: "\ea16";
$icon-mobile-phone: "\ea17";
$icon-mobile-video: "\ea18";
$icon-moon: "\ea19";
$icon-more: "\ea1a";
$icon-mountain: "\ea1b";
$icon-move: "\ea1c";
$icon-mugshot: "\ea1d";
$icon-multi-select: "\ea1e";
$icon-music: "\ea1f";
$icon-new-grid-item: "\ea20";
$icon-new-link: "\ea21";
$icon-new-object: "\ea22";
$icon-new-person: "\ea23";
$icon-new-prescription: "\ea24";
$icon-new-text-box: "\ea25";
$icon-ninja: "\ea26";
$icon-notifications: "\ea27";
$icon-notifications-updated: "\ea28";
$icon-numbered-list: "\ea29";
$icon-numerical: "\ea2a";
$icon-office: "\ea2b";
$icon-offline: "\ea2c";
$icon-oil-field: "\ea2d";
$icon-one-column: "\ea2e";
$icon-outdated: "\ea2f";
$icon-page-layout: "\ea30";
$icon-panel-stats: "\ea31";
$icon-panel-table: "\ea32";
$icon-paperclip: "\ea33";
$icon-paragraph: "\ea34";
$icon-path: "\ea35";
$icon-path-search: "\ea36";
$icon-pause: "\ea37";
$icon-people: "\ea38";
$icon-percentage: "\ea39";
$icon-person: "\ea3a";
$icon-phone: "\ea3b";
$icon-pie-chart: "\ea3c";
$icon-pin: "\ea3d";
$icon-pivot: "\ea3e";
$icon-pivot-table: "\ea3f";
$icon-play: "\ea40";
$icon-plus: "\ea41";
$icon-polygon-filter: "\ea42";
$icon-power: "\ea43";
$icon-predictive-analysis: "\ea44";
$icon-prescription: "\ea45";
$icon-presentation: "\ea46";
$icon-print: "\ea47";
$icon-projects: "\ea48";
$icon-properties: "\ea49";
$icon-property: "\ea4a";
$icon-publish-function: "\ea4b";
$icon-pulse: "\ea4c";
$icon-random: "\ea4d";
$icon-record: "\ea4e";
$icon-redo: "\ea4f";
$icon-refresh: "\ea50";
$icon-regression-chart: "\ea51";
$icon-remove: "\ea52";
$icon-remove-column: "\ea53";
$icon-remove-column-left: "\ea54";
$icon-remove-column-right: "\ea55";
$icon-remove-row-bottom: "\ea56";
$icon-remove-row-top: "\ea57";
$icon-repeat: "\ea58";
$icon-resolve: "\ea59";
$icon-rig: "\ea5a";
$icon-right-join: "\ea5b";
$icon-ring: "\ea5c";
$icon-rotate-document: "\ea5d";
$icon-rotate-page: "\ea5e";
$icon-satellite: "\ea5f";
$icon-saved: "\ea60";
$icon-scatter-plot: "\ea61";
$icon-search: "\ea62";
$icon-search-around: "\ea63";
$icon-search-template: "\ea64";
$icon-search-text: "\ea65";
$icon-segmented-control: "\ea66";
$icon-select: "\ea67";
$icon-selection: "\ea68";
$icon-send-to: "\ea69";
$icon-send-to-graph: "\ea6a";
$icon-send-to-map: "\ea6b";
$icon-series-add: "\ea6c";
$icon-series-configuration: "\ea6d";
$icon-series-derived: "\ea6e";
$icon-series-filtered: "\ea6f";
$icon-series-search: "\ea70";
$icon-settings: "\ea71";
$icon-share: "\ea72";
$icon-shield: "\ea73";
$icon-shop: "\ea74";
$icon-shopping-cart: "\ea75";
$icon-sim-card: "\ea76";
$icon-slash: "\ea77";
$icon-small-cross: "\ea78";
$icon-small-minus: "\ea79";
$icon-small-plus: "\ea7a";
$icon-small-tick: "\ea7b";
$icon-snowflake: "\ea7c";
$icon-social-media: "\ea7d";
$icon-sort: "\ea7e";
$icon-sort-alphabetical: "\ea7f";
$icon-sort-alphabetical-desc: "\ea80";
$icon-sort-asc: "\ea81";
$icon-sort-desc: "\ea82";
$icon-sort-numerical: "\ea83";
$icon-sort-numerical-desc: "\ea84";
$icon-split-columns: "\ea85";
$icon-square: "\ea86";
$icon-stacked-chart: "\ea87";
$icon-star: "\ea88";
$icon-star-empty: "\ea89";
$icon-step-backward: "\ea8a";
$icon-step-chart: "\ea8b";
$icon-step-forward: "\ea8c";
$icon-stop: "\ea8d";
$icon-strikethrough: "\ea8e";
$icon-style: "\ea8f";
$icon-swap-horizontal: "\ea90";
$icon-swap-vertical: "\ea91";
$icon-symbol-circle: "\ea92";
$icon-symbol-cross: "\ea93";
$icon-symbol-diamond: "\ea94";
$icon-symbol-square: "\ea95";
$icon-symbol-triangle-down: "\ea96";
$icon-symbol-triangle-up: "\ea97";
$icon-tag: "\ea98";
$icon-take-action: "\ea99";
$icon-taxi: "\ea9a";
$icon-text-highlight: "\ea9b";
$icon-th: "\ea9c";
$icon-th-derived: "\ea9d";
$icon-th-filtered: "\ea9e";
$icon-th-list: "\ea9f";
$icon-thumbs-down: "\eaa0";
$icon-thumbs-up: "\eaa1";
$icon-tick: "\eaa2";
$icon-tick-circle: "\eaa3";
$icon-time: "\eaa4";
$icon-timeline-area-chart: "\eaa5";
$icon-timeline-bar-chart: "\eaa6";
$icon-timeline-events: "\eaa7";
$icon-timeline-line-chart: "\eaa8";
$icon-tint: "\eaa9";
$icon-torch: "\eaaa";
$icon-train: "\eaab";
$icon-translate: "\eaac";
$icon-trash: "\eaad";
$icon-tree: "\eaae";
$icon-trending-down: "\eaaf";
$icon-trending-up: "\eab0";
$icon-two-columns: "\eab1";
$icon-underline: "\eab2";
$icon-undo: "\eab3";
$icon-ungroup-objects: "\eab4";
$icon-unknown-vehicle: "\eab5";
$icon-unlock: "\eab6";
$icon-unpin: "\eab7";
$icon-unresolve: "\eab8";
$icon-updated: "\eab9";
$icon-upload: "\eaba";
$icon-user: "\eabb";
$icon-variable: "\eabc";
$icon-vertical-bar-chart-asc: "\eabd";
$icon-vertical-bar-chart-desc: "\eabe";
$icon-vertical-distribution: "\eabf";
$icon-video: "\eac0";
$icon-volume-down: "\eac1";
$icon-volume-off: "\eac2";
$icon-volume-up: "\eac3";
$icon-walk: "\eac4";
$icon-warning-sign: "\eac5";
$icon-waterfall-chart: "\eac6";
$icon-widget: "\eac7";
$icon-widget-button: "\eac8";
$icon-widget-footer: "\eac9";
$icon-widget-header: "\eaca";
$icon-wrench: "\eacb";
$icon-zoom-in: "\eacc";
$icon-zoom-out: "\eacd";
$icon-zoom-to-fit: "\eace";

