//icons
// @import "./icomoon/style.css";

//common
// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 4px;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(153, 153, 153, 0.5);
//     -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }

// ::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 6px;
// }

.csos-form-designer {
    height: 100%;
    font-size: 14px;
}

.csos-form-designer-container {
    width: 100%;
    height: 100%;
    display: flex;

    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgb(222, 222, 228);

    * {
        box-sizing: border-box;
    }

    .widgets-panel {
        flex: none;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgb(222, 222, 228);
        // box-shadow: rgba(213, 213, 213, 0.5) 0px 2px 30px 0px;

        .widgets-panel-header {
            flex: none;
            padding: 0 10px;
            height: 32px;
            line-height: 32px;
            background: rgb(242, 243, 244);
        }

        .widget-item {
            flex: 1;
            overflow: auto;
            // border: 1px solid #ebebeb;
            color: #5b6b73;
            cursor: pointer;
            padding: 5px 10px;
            width: 200px;
            margin-top: -1px;
            user-select: none;

            .widget-item-title {
                display: flex;
                align-items: center;

                img {
                    width: 24px;
                    height: 24px;
                }

                .widget-text {
                    padding: 0 10px;
                    flex: 1;
                }
            }

            &:hover {
                // outline: 1px solid rgb(41, 141, 248);
                background: rgba(202, 228, 255, 0.5);
            }
        }
    }

    .design-panel {
        flex: 1;
        overflow: auto;
        padding: 10px 0;
        background: #efefef;

        .design-layout-container {
            width: 350px;
            height: 600px;
            padding-bottom: 60px;
            margin: 0 auto;
            overflow: auto;
            background: #fbfbfb;
            // background: url(images/bg.png) repeat;
            // border: 1px solid #ccc;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
            border: 1px solid #dedee4;
            // &.dropable {
            //     border: 1px dashed #81bb80;
            // }

            .drag-item-placeholder {
                padding-top: 12px;

                &-inner {
                    height: 46px;
                    border: 1px dashed #cfd1d2;
                }
            }

            .widget-preview-item-wrapper {
                padding-top: 12px;

                &.dragging {
                    opacity: 0.2;
                }

                .widget-preview-item {
                    position: relative;
                    // background-color: #fff;
                    font-size: 14px;
                    display: block;
                    margin-bottom: 1px;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 200%;
                        height: 1px;
                        background-color: #d9d9d9;
                        transform: scale(0.5);
                        transform-origin: 0 0;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #d9d9d9;
                        transform: scaleY(0.5);
                        transform-origin: 0 0;
                    }

                    &-inner {
                        background: #fff;
                        line-height: 24px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        padding: 10px 15px;
                        border: 1px solid rgba(0, 0, 0, 0);
                        cursor: move;

                        .widget-preview-title {
                            word-break: break-all;
                            line-height: 20px;
                            flex: 1;
                        }

                        .widget-preview-input {
                            color: #868c98;
                            white-space: nowrap;
                            padding-left: 10px;
                            overflow: hidden;
                            text-align: right;
                            height: 24px;
                            flex: 1;
                        }

                        &:hover {
                            border: 1px dotted #007ed3;
                        }
                    }

                    .widget-preview-close {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: none;
                        cursor: pointer;
                        text-align: center;
                        width: 18px;
                        height: 18px;
                        background: #007ed3;
                        color: #fff;
                        line-height: 18px;
                    }

                    &:hover {
                        .widget-preview-close {
                            display: block;
                        }
                    }

                    &-selected {
                        .widget-preview-item-inner {
                            border: 1px solid #007ed3;
                        }

                        .widget-preview-close {
                            display: block;
                        }
                    }
                }

                .drag-item-placeholder:first-child {
                    padding-top: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .property-panel {
        flex: none;
        width: 300px;
        padding: 10px;
        background: #fff;
        border-left: 1px solid rgb(222, 222, 228);
    }
}

.design-property-field {
    margin-bottom: 15px;

    textarea,
    input:not([type="checkbox"]) {
        width: 100%;
        height: 28px;
        border: 1px solid #caccce;
        line-height: 26px;
        padding: 0 6px;
        outline: none;
        border-radius: 2px;
        font-size: 12px;

        &:focus,
        &:hover {
            border-color: #007ed3;
        }
    }

    textarea {
        height: 80px;
    }
}

.property-header-title {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
